body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    width: 80dvh;
    height: 90dvh;
    background-color: teal;
}